*::-webkit-scrollbar {
    height: 10px;
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover, *::-webkit-scrollbar-track:active  {
    background-color: #B8C0C2;
  }
  
 
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color:var(--secColorHover);
  }
  
  *::-webkit-scrollbar-thumb:hover,*::-webkit-scrollbar-thumb:active{
    background-color: var(--secColor);
  }
  
 

.App{
  
    background-color: var(--lightColor);
    font-family: var(--textFont);
    color:var(--darkColor);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

main{
    flex-grow: 1;
}
main>section{
    max-width: 90%;
    min-width: 80%;
    margin:3%  auto;
}
.imgBox{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 100%;
        height: auto;
    }
    
    
 }
 

 .backgroundHeader{
    background:no-repeat  url('src/assets/ordi.jpeg') center/cover  fixed;
    text-align: center;
    padding: 3% auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    color: var(--lightColor);
    font-size: 2em;
    min-width:100%;
    min-height: 90vh;
    z-index: 0;
    h1{
        text-shadow: 0.1em  0.01em var(--primColor);
        backdrop-filter: blur(5px);

        border-radius: 50px;
    }
 
    .arrowScrollBtn{
       
        justify-self: last baseline;
        
        filter: drop-shadow(0.2em 0.2em 0.5em var(--secColor))drop-shadow(0.2em 0.2em 0.2em var(--secColor));
        animation: ArrowScroll 2s ease-in-out 0.5s infinite both;

    }
 }

 .aboutSection{
 
    display: flex;
    background-color: var(--secColor);
    flex-flow: column nowrap;
    gap: 3em;
    padding: 2em 4em;

   margin:0 auto;

   position: relative;

	
    p{
        max-width: 500px;
    }
    
 }
 footer{
    background-color: var(--primColor);
    min-height: 10vh;
    position: relative;
    padding: 2em;

    color: var(--lightColor);
 
 }
 .contactSection{
    display: flex;
    justify-content:flex-end;
    flex-flow: row wrap;

    
    .contactForm{
        display: flex;
        flex-flow: row wrap;
        h2{
            color: var(--primColor);
            font-size: 2em;
        }
    
     
        .contactInput{
            width: 100%;
           label{
           font-size: 1.2em;
           font-weight: 500;
           }
            input {
                font-family: var(--textFont);
                font-size: 1em;
                padding: 5px 13px;
                width: 100%;
                margin-top: 0.2em;
                outline: none;
                background: var(--lightColor);
                color: var(--darkColor);
                border: 0.2em solid #C4D1EB;
                border-radius: 10px;
                box-shadow: 3px 3px 2px 0px #E2E2E2;
                transition: .3s ease;
                &:focus{
                    background: #F2F2F2;
                    border: 1px solid var(--secColor);
                    border-radius: 10px;
                }
                &::placeholder{
                    color: var(--darkColor);
                    font-family: var(--textFont);
    
                }
            }
            
        }
    .contactBtn{
    margin-top: 2em;
    font-size: 1.2em;
    background-color: var(--secColor);
    border-color:var(--secColorHover);
    }
      
        
        
    }
 }
 