.realizationNav {
  color: var(--lightColor);
  h1 {
    font-size: 2.3em;
    margin: 0 auto;
    text-align: center;
    min-width: 50%;
    width: min-content;
    padding-bottom: 0.4em;
    display: block;
    position: relative;

    @include afterLine(var(--lightColor), 0.2em, 100%);
  }
  position: relative;
  background: var(--darkColor);
  display: flex;
  text-transform: capitalize;
  flex-flow: row wrap;

  justify-content: space-between;
  padding: 2em 0;
}

.specialityBox {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  .specialityChoice {
    border-bottom: 5px solid var(--secColor);
    margin: auto 0;
    display: flex;
    align-items: center;
    flex-basis: 45%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scaleX(1.05) translateX(-1.4em);
      text-shadow: 0.1em 0.1em 0 var(--secColor);
    }
  }
}

.realizationSection {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;

  h3 {
    font-size: 1.5em;
    color: var(--primColor);
  }
  .realization {
    //animation: floatingRealization 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s infinite alternate;
    height: 30vh;
 
    overflow: hidden;
    border-radius: 0 0 25px 25px;
    .imgBox {
      background-color: var(--darkOpacity);
      max-height: 100%;    

      position: relative;
      align-items: start;
      border-radius: inherit;
      .resumeRealization {
        position: absolute;
        top: -30em;
        text-align: center;
        border-radius: inherit;
        font-size: 1.1em;
        z-index: 0;

        backdrop-filter: blur(5px);
        background-color: var(--primOpacity);
        color: var(--lightColor);
        height: 100%;
        width: 100%;
        padding: 1em 2em;
        transition: top 0.5s ease-in-out;

        button {
          margin: 1em auto;
          border-color: var(--secColorHover);

          min-width: 40%;
          font-size: 1em;
          background-color: var(--secColor);
          &:hover {
            background-color: var(--secColorHover);
          }
        }
      }
      &:hover {
        .realizationTab {
          filter: drop-shadow(0px 5px 5px var(--darkColor));
        }
        .resumeRealization {
          top: 0;
        }
      }
      img {
    
        
        min-width: 100%;
      }
    }
  }
  @include responsive(768px) {
    flex-direction: column;
    gap: 1em 0;
  }
}
.realizationTab {
  background-color: var(--darkColor);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  padding: 0.4em 1em;

  .realizationTitle {
    color: var(--lightColor);
  }

  h2 {
    font-size: 1.8em;
  }
}
.realizationModal {
  background-color: var(--lightColor);
  border-radius: 25px;
  font-size: 1.1em;
  min-width: 90vw;
  height: 90vh;
  overflow: hidden;
  box-shadow: 20em 5px 20em var(--darkColor), -20em 5px 20em var(--darkColor);
  display: none;
  flex-wrap: wrap;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 250;

  transition: transform 0.5s ease-in-out;
  animation: openRealization 0.6s ease-in-out 0s 1 reverse forwards;

  &.open {
    animation: openRealization 0.6s ease-in-out 0s 1 normal forwards;
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
      display 1s ease-in-out;
  }
  .realizationTab {
    height: fit-content;
    width: 100%;
  }
 
  .fullImageContainer {
    padding: 0;
    flex-basis: 45%;

    .ytVideo {
      padding: 0;
      margin: 0;
      min-height: 60vh;
      width: auto;
    }
  }

  .realizationInfo {
    flex:1;
    display: block;
    overflow-y: auto;
    margin: 2em 0;
    gap: 1em;
    max-height: 100%;


    h3 {
      flex-basis: 100%;
      color: var(--darkColor);
      @include afterLine(var(--primColor), 0.2em, 50%);
    }

    .galleryContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      .imgGallery {
 
        flex-grow:45%;
        border: 0.4em solid var(--secColor);
        border-radius: 25px;

        img {

          border-radius: 0;
          width: fit-content;
          height: fit-content;
        }
      }
    }
  }
  .visitSiteBtn {
    background-color: var(--primOpacity);
    border-color: var(--primColor);
    padding: 0.5em 1em;
    font-size: 1.1em;
    margin:2em 0 5em 0;
  }
  @include responsive(768px) {
    min-width: 100vw;

    min-height: 90vh;
    width: min-content;

    .open{
      top:0vh;
    }
    .realizationContent {
      flex-flow: column nowrap;
      overflow: scroll;
      align-items: center;
  
      .realizationInfo {
        overflow: hidden;
        padding: 1em;
        height: min-content;
      }
      .galleryContainer {
        .imgGallery {
          min-width: 60%;
          align-items: center;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

.moreBtn {
  border: 0.25em solid var(--primColorHover);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;

  background-color: var(--primColor);
  padding: 0.2em;
  .moreIcon {
    max-width: 90%;
  }
  &:hover,
  &:active {
    background-color: var(--primColorHover);
  }
  &.close {
    transform: rotateZ(45deg);
  }
}

//Skill Style
.skillFilter {
  gap: 0.5em;
  margin-bottom: 2em;
  .skill {
    font-size: 1em;
  }
}
.skillFilter,
.skillList {
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
  .skill {
    padding: 0.4em 0.8em;
    color: inherit;
    min-width: 5em;
  }
}
.skillList {
  gap: 0.5em;
  .skill {
    font-size: 0.9em;
  }
}
.figma {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}
.illustrator,
.afterEffect {
  border-color: var(--primColor);
  background-color: var(--primOpacity);
}
.scss,
.css,
.bootStrap {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}
.vue,
.alpine,
.unity {
  border-color: var(--darkcolor);
  color: var(--lightColor);
  background-color: var(--darkOpacity);
}
