
.realizationNav {
color: var(--lightColor);
  h1{
    font-size: 2.3em;
    text-align: center;
  }
  position: relative;
  background: var(--primColor);
  display: flex;
  text-transform: capitalize;
  flex-flow: row wrap;

  justify-content: space-between;
  padding: 0;
  margin: 0;
 
}

.specialityBox{
  display: flex;
  flex-flow: column nowrap;
  font-size: 2em;
  .specialityChoice {
    border-bottom: 5px solid var(--secColor);
    margin: auto 0;
   
    flex-basis: 45%;
    height: 100%;
   
 
    transition: all 0.5s ease-in-out;
    &:hover {
     
      transform: scaleX(1.05) translateX(-50px);
      transition: all 0.5s ease-in-out;
      text-shadow: 5px 4px 1px var(--secColorHover);
      cursor: grab;
    }
   
  }
  
}

.realizationSection {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  
  gap:0 1.5em;
  h3 {
    color: var(--primColor);
  }
  .realization {
   // animation: floatingRealization 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s infinite alternate;
    min-height: 100%;
    overflow: hidden;

    border-radius: 0 0 25px 25px;
    .realizationTab {
      background-color: var(--secColor);
      width: 100%;
      min-height: 2em;
      display: flex;
      
      border-radius: 25px 25px 0 0;
      padding: 0.3em 1em;
    
      h3{
        font-size: 1.5em;
     
        padding: 0;
      }
    }
  
    .imgBox {
      position: relative;
      border-radius: inherit;
      .resumeRealization {
        position: absolute;
        top: -20em;
        text-align: center;
        border-radius: inherit;
      
        z-index: 0;
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: var(--primOpacity);
        color: var(--lightColor);
        height: 100%;
        padding: 1em;
        transition: top 0.5s ease-in-out;
       
        button{
          margin: 1em auto;
          border-color: var(--secColorHover);

          min-width:40%;
          font-size: 1em;
          background-color: var(--secColor);
          &:hover{
            background-color: var(--secColorHover);
          }
        }
      }
      &:hover {
        .realizationTab{
          filter: drop-shadow(0px 5px 5px var(--darkColor));
        }
        .resumeRealization {
          top: 0;
        }
      }
    }
  }
}
.realizationModal {
  background-color: var(--lightColor);
  border: 5px solid var(--darkColor);
  border-radius: 25px;
  font-size: 1.1em;
  height: 100vh;
  min-width: 90%;
box-shadow: 20em 5px 20em var(--darkColor),-20em 5px 20em var(--darkColor);

  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;

  position: fixed;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 10;
  
  transition: transform 0.5s ease-in-out;
  animation: openRealization 0.6s ease-in-out 0s 1 reverse forwards;


  //filter: drop-shadow(1em 0px 10px var(--primOpacity)),drop-shadow(1em 20px 10px var(--primOpacity));
  h3{
    color: var(--primColor);
  }
  &.open {
    animation: openRealization 0.6s ease-in-out 0s 1 normal forwards;

    display: flex;
    
    
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, display 1s ease-in-out;
  }

  .imgBox {
    flex-basis: 45%;
    video{
    
      object-fit: cover;
    }
  }
  .realizationInfo {

    display: flex;
    min-height: 100%;
   
    flex-flow: column nowrap;
  }
 
}

.galleryContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(75px,150px));
  gap: 1em;
  h3{
    grid-column: 1/-1;
  }
  .imgBox{
    border: 0.4em solid var(--secColorHover);
    background-color: var(--secOpacity);

    aspect-ratio: 1/1;
    border-radius: 25px;
    img{
      filter: drop-shadow(0.2em 0.5em 0.2em var(--darkColor));
    }

  }

}
.moreBtn{
    border: none;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--primColor);
    color: var(--lightColor);
    padding: 0;
    .moreIcon{
      max-width: 90%;
      transform: rotate(0deg);
  }
 
  &:hover,&:active{
    background-color: var(--primColorHover);
  }  
  &.close{
    transform: rotateZ(45deg);
    align-self: flex-end;
  }
    
}

//Skill Style
.skillFilter{
  gap: 0.5em;
  .skill{
    font-size: 1em;
 
  }
}



.skillFilter,.skillList{
display: flex;
flex-flow: row wrap;
min-width: 100%;


.skill{
    padding: 0.4em 0.8em;
    color: inherit;
    min-width: 5em;


}
}
.skillList{
gap: 0.5em;
.skill{
  font-size: 0.9em;
} 

}
.figma{
  border-color: var(--primColor);
  background-color: var(--primOpacity);
}
.illustrator,.afterEffect{
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}
.scss,.css,.bootStrap{
  border-color: #00A5CF;
  background-color: rgba( #00A5CF,0.4);
}

.vue,.alpine{
  border-color: #FB8F67;
  background-color: rgba(#FB8F67,0.4);
}
