@use "variable";

.realizationSection {
  /*position: relative;
  display: flex;
  flex-flow: row wrap;
  
  gap: 1.5em;
*/
  display: grid;
  grid-template: repeat(4, 1fr) / auto;
  gap: 1em;
  h3 {
    font-size: 1.5em;
    color: var(--primColor);
  } /*
  .realization {
    //animation: floatingRealization 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s infinite alternate;
    height: 300px;
 
    overflow: hidden;
    border-radius: 0 0 25px 25px;
    .imgBox {
      background-color: var(--darkOpacity);
      max-height: 100%;    
      min-height: 100%;
      position: relative;
      align-items: start;
      border-radius: inherit;
      .resumeRealization {
        position: absolute;
        top: -30em;
        text-align: center;
        border-radius: inherit;
        font-size: 1.1em;
        z-index: 0;

        backdrop-filter: blur(5px);
        background-color: var(--primOpacity);
        color: var(--lightColor);
        height: 100%;
        width: 100%;
        padding: 1em 2em;
        transition: top 0.5s ease-in-out;

        button {
          margin: 1em auto;
          border-color: var(--secColorHover);

          min-width: 40%;
          font-size: 1em;
          background-color: var(--secColor);
          &:hover {
            background-color: var(--secColorHover);
          }
        }
      }
      &:hover {
        .realizationTab {
          filter: drop-shadow(0px 5px 5px var(--darkColor));
        }
        .resumeRealization {
          top: 0;
        }
      }
      img {
    
          min-height: 100%;
        min-width: 100%;
      }
    }
  }*/
  .realization {
    //animation: floatingRealization 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s infinite alternate;
    width: 100%;
    height: 100%;
    min-height: 250px;
    background-color: var(--darkOpacity);

    border-radius: 25px;
    overflow: hidden;
    .imgBox {
      width: 100%;

      position: relative;
      align-items: start;
      .resumeRealization {
        position: absolute;
        height: inherit;
        text-align: center;
        top: -100%;
        height: 100%;
        font-size: 1.1em;
        z-index: 0;

        backdrop-filter: blur(5px);
        background-color: var(--primOpacity);
        color: var(--lightColor);

        padding: 0.5em 0.4em;
        transition: top 0.5s ease-in-out;

        button {
          margin: 1em auto;
          border-color: var(--secColorHover);

          min-width: 40%;
          font-size: 1em;
          background-color: var(--secColor);
          &:hover {
            background-color: var(--secColorHover);
          }
        }
      }
      &:hover {
        .realizationTab {
          filter: drop-shadow(0px 5px 5px var(--darkColor));
        }
        .resumeRealization {
          top: 0;
        }
      }
    }
  }
  @include variable.responsive(768px) {
    flex-direction: column;
    gap: 1em 0;
  }
}
/*
.realizationTab {
  background-color: var(--darkColor);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  padding: 0.4em 1em;

  .realizationTitle {
    color: var(--lightColor);
  }

  h2 {
    font-size: 1.8em;
  }
}*/
.realizationTab {
  background-color: var(--darkColor);
  display: flex;
  justify-content: space-between;
  padding: 0.4em 1em;
  .realizationTitle {
    color: var(--lightColor);
  }

  h2 {
    font-size: 1.8em;
  }
}
.realizationModal {
  background-color: var(--lightColor);
  border-radius: 25px;
  font-size: 1.1em;
  min-width: 90vw;
  height: 90vh;
  overflow: hidden;
  box-shadow: 20em 5px 20em var(--darkColor), -20em 5px 20em var(--darkColor);
  display: none;
  flex-wrap: wrap;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 250;

  transition: transform 0.5s ease-in-out;
  animation: openRealization 0.6s ease-in-out 0s 1 reverse forwards;

  &.open {
    animation: openRealization 0.6s ease-in-out 0s 1 normal forwards;
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
      display 1s ease-in-out;
  }
  .realizationTab {
    height: fit-content;
    width: 100%;
  }

  .fullImageContainer {
    padding: 0;
    flex-basis: 45%;

    .ytVideo {
      padding: 0;
      margin: 0;
      min-height: 60vh;
      width: auto;
    }
  }

  .realizationInfo {
    flex: 1;
    display: block;
    overflow-y: auto;
    margin: 2em 1.2em;
    gap: 1em;
    max-height: 100%;

    h3 {
      flex-basis: 100%;
      color: var(--darkColor);
      @include variable.afterLine(var(--primColor), 0.2em, 50%);
    }

    .galleryContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      .imgGallery {
        flex-grow: 45%;
        max-height: 200px;
        border: 0.4em solid var(--secColor);
        border-radius: 25px;
        align-items: center;
      }
    }
  }
  .visitSiteBtn {
    background-color: var(--primOpacity);
    border-color: var(--primColor);
    padding: 0.5em 1em;
    font-size: 1.1em;
    margin: 2em 0 5em 0;
  }
  @include variable.responsive(768px) {
    min-width: 100vw;

    min-height: 90vh;
    width: min-content;

    .open {
      top: 0vh;
    }
    .realizationContent {
      flex-flow: column nowrap;
      overflow: scroll;
      align-items: center;

      .realizationInfo {
        overflow: hidden;
        padding: 1em;
        height: min-content;
      }
      .galleryContainer {
        .imgGallery {
          min-width: 60%;
          align-items: center;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

.moreBtn {
  /*border: 0.25em solid var(--primColorHover);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;

  background-color: var(--primColor);
  padding: 0.2em;*/
  width: 2.5em;
  height: 2.5em;
  border-radius: 50px;
  border: none;
  background-color: var(--primColor);
  .moreIcon {
    max-width: 90%;
    transform-origin: 50% 50%;
  }
  &:hover,
  &:active {
    background-color: var(--primColorHover);
  }
  &.close {
    transform: rotateZ(45deg);
  }
}

//Skill Style
.skillFilter {
  gap: 0.5em;
  grid-column: span 4;
  margin-bottom: 2em;
  .skill {
    font-size: 1em;
  }
}
.skillFilter,
.skillList {
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
  .skill {
    padding: 0.4em 0.8em;
    min-width: 5em;
  }
}
.skillList {
  gap: 0.5em;
  .skill {
    font-size: 0.9em;
    color: var(--darkColor);
  }
}

.illustrator,
.afterEffect,
.figma {
  border-color: var(--primColor);
  background-color: var(--primOpacity);
}
.scss,
.css,
.bootStrap,
.vue,
.alpine,
.unity {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}
