@import "grille.css";
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@keyframes floatingRealization {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes openRealization {
  0% {
    top: 100vh;
    opacity: 0;
    transform: translate(-50%, 0);
    transition: all 0.5s cubic-bezier(0.72, 0.28, 0.37, 0.89);
  }
  100% {
    top: 2vh;
    opacity: 1;
    transform: translate(-50%, 0vh);
    transition: all 0.5s cubic-bezier(0.72, 0.28, 0.37, 0.89);
  }
}
@keyframes ArrowScroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes openBurger {
  0% {
    align-items: center;
    min-width: 10em;
    min-height: 9em;
    filter: drop-shadow(5px 5px 10px var(--darkColor));
    transition: all 0.5 ease;
  }
  100% {
    align-items: end;
    min-height: 25em;
    min-width: 25em;
    filter: drop-shadow(20px 20px 10px var(--darkColor)) drop-shadow(-20px 0px 10px var(--darkColor));
  }
}
:root {
  /*Couleur*/
  --primColor:#623271;
  --primColorHover:#713a83;
  --primDark:#43224e;
  --primOpacity:rgba(98, 50, 113, 0.4);
  --lightColor:#F6FAF0;
  --darkColor: #363636;
  --darkOpacity:rgba(54, 54, 54, 0.3);
  --secColor:#8ECD91;
  --secOpacity:rgba(142, 205, 145, 0.4);
  --colorOpactiy:$colorOpacity;
  --secColorHover:#4baa50;
  --titleFont:"Kodchasan";
  --textFont:"Open Sans","Arial","Helvetica",sans-serif;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--secColorHover);
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background-color: var(--secColor);
}

.App {
  background-color: var(--lightColor);
  color: var(--darkColor);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main > section {
  max-width: 85%;
  min-width: 80%;
  margin: 3em auto;
}

.imgBox {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBox img {
  max-width: 100%;
  height: auto;
}

.backgroundHeader {
  background: no-repeat url("src/assets/ordi.jpeg") center/cover fixed;
  text-align: center;
  padding: 3% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--lightColor);
  font-size: 2em;
  min-width: 100%;
  min-height: 90vh;
  z-index: 0;
}
.backgroundHeader h1 {
  text-shadow: 0.1em 0.01em var(--primColor);
}
.backgroundHeader .arrowScrollBtn {
  justify-self: last baseline;
  filter: drop-shadow(0.2em 0.2em 0.5em var(--secColor)) drop-shadow(0.2em 0.2em 0.2em var(--secColor));
  animation: ArrowScroll 2s ease-in-out 0.5s infinite both;
}

.aboutSection {
  margin: 2em auto;
  color: var(--lightColor);
  background-color: var(--darkColor);
  min-width: 40%;
  max-width: 60%;
  height: 900px;
  padding: 2em 4em;
}
.aboutSection h2 {
  position: relative;
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
}
.aboutSection h2::after {
  content: " ";
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  left: 0;
  width: 30%;
  height: 0.2em;
  transition: width 0.5s ease-in-out;
  background-color: var(--lightColor);
}
.aboutSection p {
  text-align: justify;
  max-width: 60%;
}

footer {
  background-color: var(--darkColor);
  min-height: 10vh;
  position: relative;
  color: var(--lightColor);
}

.contactSection {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 4em;
}
.contactSection .contactForm {
  display: flex;
  flex-flow: row wrap;
}
.contactSection .contactForm h2 {
  color: var(--darkColor);
  font-size: 2em;
}
.contactSection .contactForm .contactInput label {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
}
.contactSection .contactForm .contactInput input, .contactSection .contactForm .contactInput textarea {
  font-family: var(--textFont);
  font-size: 1em;
  padding: 0.6em;
  width: 100%;
  background: var(--lightColor);
  color: var(--darkColor);
  border: 0.2em solid var(--darkOpacity);
  border-radius: 10px;
  box-shadow: 0.1em 0.1em 0.1em 0 var(--darkOpacity);
  transition: 0.3s ease;
}
.contactSection .contactForm .contactInput input:focus, .contactSection .contactForm .contactInput textarea:focus {
  background: var(--lightColor);
  border: 0.2em solid var(--primColor);
  border-radius: 10px;
}
.contactSection .contactForm .contactInput input::-moz-placeholder, .contactSection .contactForm .contactInput textarea::-moz-placeholder {
  color: var(--darkColor);
  font-family: var(--textFont);
}
.contactSection .contactForm .contactInput input::placeholder, .contactSection .contactForm .contactInput textarea::placeholder {
  color: var(--darkColor);
  font-family: var(--textFont);
}
.contactSection .contactForm .contactInput textarea {
  min-height: 100px;
}
.contactSection .contactForm .contactBtn {
  margin-top: 2em;
  font-size: 1.2em;
  padding: 0.2em auto;
  background-color: var(--primOpacity);
  border-color: var(--primColor);
}

.contactMessage {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}
.contactMessage .imgBox {
  overflow: visible;
  position: relative;
  max-width: 60%;
}
.contactMessage .imgBox #star {
  top: -5em;
  max-width: 50%;
  left: 0;
  -webkit-backdrop-filter: dropshadow(20px 20px 20px red);
          backdrop-filter: dropshadow(20px 20px 20px red);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.contactMessage .downloadCv {
  background-color: var(--primOpacity);
  font-size: 1.2em;
  border-color: var(--primColorHover);
}
.contactMessage .downloadCv a {
  color: var(--darkColor);
  padding: 0.3em 1em;
}

.curveBox {
  position: relative;
  max-width: 100vw;
  min-width: 100%;
  min-height: 2.5em;
}
.curveBox .curve {
  position: absolute;
}
.curveBox .curve.whitePurple, .curveBox .curve.whiteDark {
  top: -3.3em;
  filter: drop-shadow(0px -1.1em 0.4em var(--lightColor));
}
.curveBox .curve.purpleWhite, .curveBox .curve.darkWhite {
  bottom: -3.5em;
  filter: drop-shadow(0px 1em 0.1em var(--lightColor));
}

.menuBox {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  transform-origin: 100% 0;
  background-color: var(--primColor);
  filter: drop-shadow(5px 5px 10px var(--darkColor));
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  min-width: 6em;
  min-height: 6em;
  color: var(--lightColor);
  transition: all 0.5s ease-in-out;
  animation: openBurger 0.6s ease 0s 1 backwards forwards;
}
@media screen and (max-width: 768px) {
  .menuBox {
    background-color: var(--primColor);
    width: 3em;
    height: 2em;
    z-index: 999;
    display: flex;
    place-content: center center;
    padding: 0;
  }
  .menuBox.open {
    right: 0;
    border-radius: 0 0 0 100%;
  }
}
.menuBox .menu {
  display: none;
  width: 0;
  height: 0;
  list-style: none;
  text-align: end;
  font-size: 2.4em;
}
.menuBox .menu .tab .tabLink {
  position: relative;
  color: var(--lightColor);
  border-radius: 10px;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  margin: 0;
  width: 100%;
}
.menuBox .menu .tab .tabLink:hover {
  transition: all 0.5s ease-in-out;
}
.menuBox .menu .tab .tabLink:hover::before {
  width: 100%;
}
.menuBox .menu .tab .tabLink:hover::after {
  width: 60%;
}
.menuBox .menu .tab .tabLink::before {
  content: attr(link-name);
  color: var(--secColor);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.menuBox .menu .tab .tabLink::after {
  position: absolute;
  content: "";
  background-color: var(--secColor);
  width: 0;
  height: 5px;
  bottom: -5px;
  right: 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menuBox:hover {
  transform: scale(1.1);
  background-color: var(--primColorHover);
}
.menuBox .burgerIcon {
  width: 5em;
  height: 5em;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.menuBox .burgerIcon .burgerLine,
.menuBox .burgerIcon .burgerLine::after,
.menuBox .burgerIcon .burgerLine::before {
  transition: top 0.2s 0.2s, transform 0.2s, background-color 0.4s 0.2s;
  display: block;
  content: "";
  width: 95%;
  left: 0;
  border-radius: 1em;
  height: 0.5em;
  position: absolute;
  transform: rotate(0);
  background-color: var(--lightColor);
}
.menuBox .burgerIcon .burgerLine {
  transition: background-color 0.2s, top 0.2s, left 0.2s, transform 0.2s 0.15s;
  top: 50%;
  margin: 0.5em 0;
}
.menuBox .burgerIcon .burgerLine::before {
  top: 1em;
}
.menuBox .burgerIcon .burgerLine::after {
  top: -1em;
}
.menuBox.open {
  padding: 1em;
  right: 0;
  border-radius: 0 0 0 100%;
  top: 0;
  align-items: end;
  min-height: 25em;
  min-width: 25em;
  filter: drop-shadow(20px 20px 10px var(--darkColor)) drop-shadow(-20px 0px 10px var(--darkColor));
}
.menuBox.open .menu {
  margin-right: 0.4em;
  display: block;
  width: 100%;
  height: 100%;
}
.menuBox.open .burgerLine {
  transition: background-color 0.2s, top 0.1s, left 0.2s, transform 1s 0.25s;
  background-color: initial;
}
.menuBox.open .burgerLine::before {
  top: 0;
  transform: rotate(-45deg);
}
.menuBox.open .burgerLine::after {
  top: 0;
  transform: rotate(45deg);
}

/*
.burgerCircle {
  z-index: 9000;
  width: 4em;
  height: 4em;
  position: absolute;
  transition: all 0.5s ease-in-out;
  position: fixed;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 10px var(--darkColor));

  top: 2em;
  right: 2em;
  z-index: 100;
  background-color: var(--primDark);

}*/
/*
.burgerHolder{
  position: fixed;
  top: 2em;
  right: 2em;
  background-color: var(--primDark);
  z-index: 999;

}
.burgerBtn{
  width: 4em;
  height: 4em;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  background-color: transparent;
  border: none;
  .burgerLine,
.burgerLine::after,
.burgerLine::before {
  transition: top 0.2s 0.2s, transform 0.2s, background-color 0.4s 0.2s;
  content: "";
  width: 100%;
  left: 0;
  border-radius: 1em;
  height: 0.5em;
  position: absolute;
  transform: rotate(0);
  background-color: var(--lightColor);
}
.burgerLine {
  transition: background-color 0.2s, top 0.2s, left 0.2s, transform 0.2s 0.15s;
  top: 50%;

  margin: 0.5em 0;
  &::before {
    top: 1em;
  }
  &::after {
    top: -1em;
  }
}
}

.menuBox {
  z-index: 900;
  position: fixed;
  background-color: var(--primDark);
  top: 0;
  right: 0;
  font-size: 2em;
  width: 0;
  height: 0;
  display: flex;

  flex-direction: column;

  align-items: center;

  border-bottom-left-radius: 500px;
  transform-origin: 100% 0;

  color: var(--lightColor);
  transition: width 0.3s, height 0.3s;

  .menu {
   opacity: 0;

    list-style: none;
    text-align: end;
    font-size: 2.4em;
    .tab {
      .tabLink {
        position: relative;
        color: var(--lightColor);
        border-radius: 10px;

        font-size: 1.2em;
        transition: all 0.5s ease-in-out;
        margin: 0;

        width: 100%;
        &:hover {
          transition: all 0.5s ease-in-out;

          &::before {
            width: 100%;
          }
          &::after {
            width: 60%;
          }
        }
        &::before {
          content: attr(link-name);

          color: var(--secColor);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
          transition: all 0.5s ease-in-out;
        }
        &::after {
          position: absolute;
          content: "";
          background-color: var(--secColor);
          width: 0;
          height: 5px;
          bottom: -5px;
          right: 0;
          border-radius: 10px;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  &:hover {
    transform: scale(1.1);
  }

  &.open {
    .burgerHolder{
      position: relative;
    }
    padding: 1em;
    right: 0;
    top: 0;
    align-items: end;
    height: 15em;
    width: 15em;
    filter: drop-shadow(20px 20px 10px var(--darkColor))
      drop-shadow(-20px 0px 10px var(--darkColor));
    .menu {
      margin-right: 0.4em;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 1;
    }

    .burgerLine {
      transition: background-color 0.2s, top 0.1s, left 0.2s, transform 1s 0.25s;
      background-color: initial;

      &::before {
        top: 0;
        transform: rotate(-45deg);
      }
      &::after {
        top: 0;
        transform: rotate(45deg);
      }
    }
  }
}
*/
.realizationNav {
  color: var(--lightColor);
  position: relative;
  background: var(--darkColor);
  display: flex;
  text-transform: capitalize;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.realizationNav h1 {
  font-size: 2.3em;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding-bottom: 0.4em;
  display: block;
  position: relative;
}
.realizationNav h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--lightColor);
  width: 100%;
  height: 0.2em;
}

.specialityBox {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}
.specialityBox .specialityChoice {
  border-bottom: 5px solid var(--secColor);
  margin: auto 0;
  display: flex;
  align-items: center;
  flex-basis: 45%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.specialityBox .specialityChoice:hover {
  transform: scaleX(1.05) translateX(-1.4em);
  text-shadow: 0.1em 0.1em 0 var(--secColor);
}

.realizationSection {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 0 1.5em;
}
@media screen and (max-width: 768px) {
  .realizationSection {
    gap: 1em 0;
  }
}
.realizationSection h3 {
  font-size: 1.5em;
  color: var(--primColor);
}
.realizationSection .realization {
  min-height: 100%;
  overflow: hidden;
  border-radius: 0 0 25px 25px;
}
.realizationSection .realization .imgBox {
  position: relative;
  border-radius: inherit;
}
.realizationSection .realization .imgBox .resumeRealization {
  position: absolute;
  top: -20em;
  text-align: center;
  border-radius: inherit;
  z-index: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: var(--primOpacity);
  color: var(--lightColor);
  height: 100%;
  padding: 1em;
  transition: top 0.5s ease-in-out;
}
.realizationSection .realization .imgBox .resumeRealization button {
  margin: 1em auto;
  border-color: var(--secColorHover);
  min-width: 40%;
  font-size: 1em;
  background-color: var(--secColor);
}
.realizationSection .realization .imgBox .resumeRealization button:hover {
  background-color: var(--secColorHover);
}
.realizationSection .realization .imgBox:hover .realizationTab {
  filter: drop-shadow(0px 5px 5px var(--darkColor));
}
.realizationSection .realization .imgBox:hover .resumeRealization {
  top: 0;
}

.realizationTab {
  background-color: var(--darkColor);
  color: var(--lightColor);
  width: 100%;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  padding: 0.3em 1em;
}
.realizationTab .realizationTitle {
  color: var(--lightColor);
  padding: 0;
}
.realizationTab h2 {
  font-size: 1.8em;
}

.realizationModal {
  background-color: var(--lightColor);
  border-radius: 25px;
  font-size: 1.1em;
  height: 90vh;
  min-width: 90%;
  box-shadow: 20em 5px 20em var(--darkColor), -20em 5px 20em var(--darkColor);
  display: none;
  flex-direction: column;
  overflow: hidden hidden;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  transition: transform 0.5s ease-in-out;
  animation: openRealization 0.6s ease-in-out 0s 1 reverse forwards;
}
.realizationModal.open {
  animation: openRealization 0.6s ease-in-out 0s 1 normal forwards;
  display: flex;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, display 1s ease-in-out;
}
.realizationModal .realizationContent {
  display: flex;
  padding-bottom: 2em;
}
.realizationModal .realizationContent .imgBox {
  flex-basis: 45%;
}
.realizationModal .realizationContent .imgBox img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.realizationModal .realizationContent .imgBox video {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.realizationModal .realizationContent .imgBox iframe {
  margin: 0;
  padding: 0;
  aspect-ratio: 1/1;
}
.realizationModal .realizationContent .realizationInfo {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
}
.realizationModal .realizationContent .realizationInfo h3 {
  color: var(--darkColor);
  position: relative;
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
}
.realizationModal .realizationContent .realizationInfo h3::after {
  content: " ";
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  left: 0;
  width: 50%;
  height: 0.2em;
  transition: width 0.5s ease-in-out;
  background-color: var(--primColor);
}
.realizationModal .curveBox {
  align-self: flex-end;
  position: absolute;
  bottom: -2.5em;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 150px));
  gap: 1em;
}
.galleryContainer h3 {
  grid-column: 1/-1;
}
.galleryContainer .imgBox {
  border: 0.4em solid var(--darkColor);
  background-color: var(--darkOpacity);
  aspect-ratio: 1/1;
  border-radius: 25px;
}
.galleryContainer .imgBox img {
  filter: drop-shadow(0.2em 0.5em 0.2em var(--darkColor));
}

.moreBtn {
  border: 0.24em solid var(--lightColor);
  width: 2.5em;
  height: 2.5em;
  background-color: var(--primColor);
  padding: 0;
}
.moreBtn .moreIcon {
  max-width: 90%;
}
.moreBtn:hover, .moreBtn:active {
  background-color: var(--primColorHover);
}
.moreBtn.close {
  transform: rotateZ(45deg);
}

.skillFilter {
  gap: 0.5em;
  margin-bottom: 2em;
}
.skillFilter .skill {
  font-size: 1em;
}

.skillFilter, .skillList {
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
}
.skillFilter .skill, .skillList .skill {
  padding: 0.4em 0.8em;
  color: inherit;
  min-width: 5em;
}

.skillList {
  gap: 0.5em;
}
.skillList .skill {
  font-size: 0.9em;
}

.figma {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}

.illustrator, .afterEffect, .figma {
  border-color: var(--primColor);
  background-color: var(--primOpacity);
}

.scss, .css, .bootStrap {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}

.vue, .alpine {
  border-color: var(--darkcolor);
  background-color: var(--darkOpacity);
}