@import "grille.css";
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@keyframes floatingRealization {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes openRealization {
  0% {
    top: 100vh;
    opacity: 0;
    transform: translate(-50%, 0);
    transition: all 0.5s cubic-bezier(0.72, 0.28, 0.37, 0.89);
  }
  100% {
    top: 0;
    opacity: 1;
    transform: translate(-50%, 0vh);
    transition: all 0.5s cubic-bezier(0.72, 0.28, 0.37, 0.89);
  }
}
@keyframes ArrowScroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
:root {
  /*Couleur*/
  --primColor:#681F7A;
  --primColorHover:#8b29a3;
  --primOpacity:rgba(104, 31, 122, 0.4);
  --lightColor:#F6FAF0;
  --darkColor: #332C23;
  --secColor:#ADCF79;
  --secOpacity:rgba(173, 207, 121, 0.4);
  --colorOpactiy:$colorOpacity;
  --secColorHover:#7ca63c;
  --titleFont:"Kodchasan";
  --textFont:"Open Sans","Arial","Helvetica",sans-serif;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover, *::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--secColorHover);
}

*::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:active {
  background-color: var(--secColor);
}

.App {
  background-color: var(--lightColor);
  font-family: var(--textFont);
  color: var(--darkColor);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

main > section {
  max-width: 90%;
  min-width: 80%;
  margin: 3% auto;
}

.imgBox {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBox img {
  max-width: 100%;
  height: auto;
}

.backgroundHeader {
  background: no-repeat url("src/assets/ordi.jpeg") center/cover fixed;
  text-align: center;
  padding: 3% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--lightColor);
  font-size: 2em;
  min-width: 100%;
  min-height: 90vh;
  z-index: 0;
}
.backgroundHeader h1 {
  text-shadow: 0.1em 0.01em var(--primColor);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 50px;
}
.backgroundHeader .arrowScrollBtn {
  justify-self: last baseline;
  filter: drop-shadow(0.2em 0.2em 0.5em var(--secColor)) drop-shadow(0.2em 0.2em 0.2em var(--secColor));
  animation: ArrowScroll 2s ease-in-out 0.5s infinite both;
}

.aboutSection {
  display: flex;
  background-color: var(--secColor);
  flex-flow: column nowrap;
  gap: 3em;
  padding: 2em 4em;
  margin: 0 auto;
  position: relative;
}
.aboutSection p {
  max-width: 500px;
}

footer {
  background-color: var(--primColor);
  min-height: 10vh;
  position: relative;
  padding: 2em;
  color: var(--lightColor);
}

.contactSection {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
.contactSection .contactForm {
  display: flex;
  flex-flow: row wrap;
}
.contactSection .contactForm h2 {
  color: var(--primColor);
  font-size: 2em;
}
.contactSection .contactForm .contactInput {
  width: 100%;
}
.contactSection .contactForm .contactInput label {
  font-size: 1.2em;
  font-weight: 500;
}
.contactSection .contactForm .contactInput input {
  font-family: var(--textFont);
  font-size: 1em;
  padding: 5px 13px;
  width: 100%;
  margin-top: 0.2em;
  outline: none;
  background: var(--lightColor);
  color: var(--darkColor);
  border: 0.2em solid #C4D1EB;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 0px #E2E2E2;
  transition: 0.3s ease;
}
.contactSection .contactForm .contactInput input:focus {
  background: #F2F2F2;
  border: 1px solid var(--secColor);
  border-radius: 10px;
}
.contactSection .contactForm .contactInput input::-moz-placeholder {
  color: var(--darkColor);
  font-family: var(--textFont);
}
.contactSection .contactForm .contactInput input::placeholder {
  color: var(--darkColor);
  font-family: var(--textFont);
}
.contactSection .contactForm .contactBtn {
  margin-top: 2em;
  font-size: 1.2em;
  background-color: var(--secColor);
  border-color: var(--secColorHover);
}

.menuBox {
  position: fixed;
  background-color: var(--primColor);
  right: 0;
  z-index: 999;
  filter: drop-shadow(5px 5px 10px var(--darkColor));
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  top: 0;
  padding: 0 1em;
  border-radius: 0 0 0 100%;
  min-width: 8%;
  min-height: 14%;
  color: var(--lightColor);
  transition: all 0.5s ease-in-out;
}
.menuBox .menu {
  display: none;
  width: 0;
  height: 0;
  list-style: none;
  text-align: end;
  font-size: 2.4em;
}
.menuBox .menu .tab {
  margin: 0% 2%;
}
.menuBox .menu .tab .tabLink {
  position: relative;
  color: var(--lightColor);
  border-radius: 10px;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  margin: 0;
  width: 100%;
}
.menuBox .menu .tab .tabLink:hover {
  transition: all 0.5s ease-in-out;
}
.menuBox .menu .tab .tabLink:hover::before {
  width: 100%;
}
.menuBox .menu .tab .tabLink:hover::after {
  width: 60%;
}
.menuBox .menu .tab .tabLink::before {
  content: attr(link-name);
  color: var(--secColor);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.menuBox .menu .tab .tabLink::after {
  position: absolute;
  content: "";
  background-color: var(--secColor);
  width: 0;
  height: 5px;
  bottom: -5px;
  right: 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menuBox .burgerIcon {
  color: var(--lightColor);
  width: 5em;
  height: 5em;
  font-size: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.menuBox .burgerIcon .burgerLine, .menuBox .burgerIcon .burgerLine::after, .menuBox .burgerIcon .burgerLine::before {
  transition: top 0.2s 0.2s, transform 0.2s, background-color 0.4s 0.2s;
  display: block;
  content: "";
  width: 100%;
  left: 0;
  border-radius: 1em;
  height: 0.7em;
  position: absolute;
  transform: rotate(0);
  background-color: var(--secColor);
}
.menuBox .burgerIcon .burgerLine {
  transition: background-color 0.2s, top 0.2s, left 0.2s, transform 0.2s 0.15s;
  top: 50%;
  margin: 0.5em 0;
}
.menuBox .burgerIcon .burgerLine::before {
  top: 1em;
}
.menuBox .burgerIcon .burgerLine::after {
  top: -1em;
}
.menuBox.open {
  min-height: 45%;
  min-width: 20%;
}
.menuBox.open .menu {
  display: block;
  width: 100%;
  height: 100%;
}
.menuBox.open .burgerLine {
  transition: background-color 0.2s, top 0.1s, left 0.2s, transform 1s 0.25s;
  background-color: initial;
}
.menuBox.open .burgerLine::before {
  top: 0;
  transform: rotate(-45deg);
}
.menuBox.open .burgerLine::after {
  top: 0;
  transform: rotate(45deg);
}

/*
.menuBox{
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    display: flex;
    color:var(--lightColor);
    margin: 0% auto;
    width: 100%;
    padding: 20px;

}
.logoName{
    text-decoration: none;
    color:var(--primColor)
}
.menu{
    list-style: none;
    display: flex;
    flex-basis: 30%;
    flex-grow: 60%;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 1.2em;
}

.tab{
    margin: 0% 2%;
    .tabLink{
        position: relative;
        color: var(--darkColor);
        border-radius: 10px;

        font-size: 1.2em;
        transition: all 0.5s ease-in-out;
        margin: 0;

        width: 100%;
        &:hover{
            transition: all 0.5s ease-in-out;

            &::before{
                width: 100%;
            }
            &::after{
                width: 50%;
            }
        }
        &::before{
            content:attr(link-name);

            color: var(--primColorHover);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }
        &::after{
            position: absolute;
            content:"";
            background-color: var(--primColor);
            width: 0;
            height: 5px;
            bottom: -5px;
            left: 0;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
        }
    }
}
*/
/*Ligne en dessous du texte*/
.realizationNav {
  color: var(--lightColor);
  position: relative;
  background: var(--primColor);
  display: flex;
  text-transform: capitalize;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.realizationNav h1 {
  font-size: 2.3em;
  text-align: center;
}

.specialityBox {
  display: flex;
  flex-flow: column nowrap;
  font-size: 2em;
}
.specialityBox .specialityChoice {
  border-bottom: 5px solid var(--secColor);
  margin: auto 0;
  flex-basis: 45%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.specialityBox .specialityChoice:hover {
  transform: scaleX(1.05) translateX(-50px);
  transition: all 0.5s ease-in-out;
  text-shadow: 5px 4px 1px var(--secColorHover);
  cursor: grab;
}

.realizationSection {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 0 1.5em;
}
.realizationSection h3 {
  color: var(--primColor);
}
.realizationSection .realization {
  min-height: 100%;
  overflow: hidden;
  border-radius: 0 0 25px 25px;
}
.realizationSection .realization .realizationTab {
  background-color: var(--secColor);
  width: 100%;
  min-height: 2em;
  display: flex;
  border-radius: 25px 25px 0 0;
  padding: 0.3em 1em;
}
.realizationSection .realization .realizationTab h3 {
  font-size: 1.5em;
  padding: 0;
}
.realizationSection .realization .imgBox {
  position: relative;
  border-radius: inherit;
}
.realizationSection .realization .imgBox .resumeRealization {
  position: absolute;
  top: -20em;
  text-align: center;
  border-radius: inherit;
  z-index: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: var(--primOpacity);
  color: var(--lightColor);
  height: 100%;
  padding: 1em;
  transition: top 0.5s ease-in-out;
}
.realizationSection .realization .imgBox .resumeRealization button {
  margin: 1em auto;
  border-color: var(--secColorHover);
  min-width: 40%;
  font-size: 1em;
  background-color: var(--secColor);
}
.realizationSection .realization .imgBox .resumeRealization button:hover {
  background-color: var(--secColorHover);
}
.realizationSection .realization .imgBox:hover .realizationTab {
  filter: drop-shadow(0px 5px 5px var(--darkColor));
}
.realizationSection .realization .imgBox:hover .resumeRealization {
  top: 0;
}

.realizationModal {
  background-color: var(--lightColor);
  border: 5px solid var(--darkColor);
  border-radius: 25px;
  font-size: 1.1em;
  height: 100vh;
  min-width: 90%;
  box-shadow: 20em 5px 20em var(--darkColor), -20em 5px 20em var(--darkColor);
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  transition: transform 0.5s ease-in-out;
  animation: openRealization 0.6s ease-in-out 0s 1 reverse forwards;
}
.realizationModal h3 {
  color: var(--primColor);
}
.realizationModal.open {
  animation: openRealization 0.6s ease-in-out 0s 1 normal forwards;
  display: flex;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, display 1s ease-in-out;
}
.realizationModal .imgBox {
  flex-basis: 45%;
}
.realizationModal .imgBox video {
  -o-object-fit: cover;
     object-fit: cover;
}
.realizationModal .realizationInfo {
  display: flex;
  min-height: 100%;
  flex-flow: column nowrap;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 150px));
  gap: 1em;
}
.galleryContainer h3 {
  grid-column: 1/-1;
}
.galleryContainer .imgBox {
  border: 0.4em solid var(--secColorHover);
  background-color: var(--secOpacity);
  aspect-ratio: 1/1;
  border-radius: 25px;
}
.galleryContainer .imgBox img {
  filter: drop-shadow(0.2em 0.5em 0.2em var(--darkColor));
}

.moreBtn {
  border: none;
  width: 2.5em;
  height: 2.5em;
  background-color: var(--primColor);
  color: var(--lightColor);
  padding: 0;
}
.moreBtn .moreIcon {
  max-width: 90%;
  transform: rotate(0deg);
}
.moreBtn:hover, .moreBtn:active {
  background-color: var(--primColorHover);
}
.moreBtn.close {
  transform: rotateZ(45deg);
  align-self: flex-end;
}

.skillFilter {
  gap: 0.5em;
}
.skillFilter .skill {
  font-size: 1em;
}

.skillFilter, .skillList {
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
}
.skillFilter .skill, .skillList .skill {
  padding: 0.4em 0.8em;
  color: inherit;
  min-width: 5em;
}

.skillList {
  gap: 0.5em;
}
.skillList .skill {
  font-size: 0.9em;
}

.figma {
  border-color: var(--primColor);
  background-color: var(--primOpacity);
}

.illustrator, .afterEffect {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}

.scss, .css, .bootStrap {
  border-color: #00A5CF;
  background-color: rgba(0, 165, 207, 0.4);
}

.vue, .alpine {
  border-color: #FB8F67;
  background-color: rgba(251, 143, 103, 0.4);
}

svg {
  position: absolute;
  z-index: 0;
}

#blob {
  max-height: 40px;
}

.wave {
  bottom: 0;
  z-index: 1;
}