@import "grille.css";
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@keyframes floatingRealization {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes openRealization {
  0% {
    top: 100vh;
    transition: all 0.5s cubic-bezier(0.72, 0.28, 0.37, 0.89);
  }
  100% {
    top: 5vh;
    transition: all 0.5s cubic-bezier(0.72, 0.28, 0.37, 0.89);
  }
}
@keyframes ArrowScroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes openBurger {
  0% {
    align-items: center;
    min-width: 10em;
    min-height: 9em;
    filter: drop-shadow(5px 5px 10px var(--darkColor));
    transition: all 0.5 ease;
  }
  100% {
    align-items: end;
    min-height: 25em;
    min-width: 25em;
    filter: drop-shadow(20px 20px 10px var(--darkColor)) drop-shadow(-20px 0px 10px var(--darkColor));
  }
}
:root {
  /*Couleur*/
  --primColor:#623271;
  --primColorHover:#713a83;
  --primDark:#43224e;
  --primOpacity:rgba(98, 50, 113, 0.4);
  --lightColor:#F6FAF0;
  --lightOpacity:rgba(246, 250, 240, 0.4);
  --darkColor: #363636;
  --darkOpacity:rgba(54, 54, 54, 0.3);
  --secColor:#8ECD91;
  --secOpacity:rgba(142, 205, 145, 0.4);
  --secColorHover:#4baa50;
  --titleFont:"Kodchasan";
  --textFont:"Open Sans","Arial","Helvetica",sans-serif;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--secColor);
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background-color: var(--secColorHover);
}

.App {
  background-color: var(--lightColor);
  color: var(--darkColor);
  width: 100%;
  min-height: 100vh;
  display: flex;
  scroll-behavior: smooth;
  flex-direction: column;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main > section {
  max-width: 85%;
  min-width: 80%;
  margin: 3em auto;
}

.imgBox {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.imgBox img {
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: inherit;
}

.backgroundHeader {
  background: linear-gradient(0deg, var(--lightColor) 10%, #43224e 80%);
  text-align: center;
  padding: 3% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  color: var(--lightColor);
  font-size: 2em;
  min-width: 100%;
  min-height: 90vh;
}
.backgroundHeader .logoBox {
  position: fixed;
  top: 1em;
  padding: 0.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  left: 2em;
  z-index: 150;
}
.backgroundHeader h1 {
  font-size: 5.5em;
  z-index: 10;
  position: relative;
  text-transform: uppercase;
}
.backgroundHeader h1::after {
  content: "Picard";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(1.2);
  z-index: 1;
  mix-blend-mode: overlay;
  color: transparent;
  letter-spacing: 0.2em;
  -webkit-text-stroke: 0.02em var(--secColor);
}
.backgroundHeader .arrowScrollBtn {
  filter: drop-shadow(0em 0.3em 0.2em var(--primDark));
  animation: ArrowScroll 2s ease-in-out 1s infinite both;
}
@media screen and (max-width: 768px) {
  .backgroundHeader {
    min-height: 70vh;
    justify-content: start;
    align-items: center;
  }
  .backgroundHeader h1 {
    font-size: 2.5em;
  }
  .backgroundHeader h1::after {
    top: 50%;
    font-size: 1em;
  }
  .backgroundHeader .logoBox {
    position: static;
    background-color: transparent;
    box-shadow: none;
    width: 5em;
    top: 0;
    left: 0;
    height: 5em;
  }
}

.aboutSection {
  margin: 2em auto;
  color: var(--lightColor);
  background-color: var(--primColor);
  min-width: 30%;
  max-width: 40%;
  border-radius: 25px;
  min-height: 250px;
  padding: 2em 3em;
}
.aboutSection h2 {
  position: relative;
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
}
.aboutSection h2::after {
  content: " ";
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  left: 0;
  width: 30%;
  height: 0.2em;
  transition: width 0.5s ease-in-out;
  background-color: var(--lightColor);
}
.aboutSection p {
  text-align: justify;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  .aboutSection {
    max-width: 80%;
  }
}

footer {
  background-color: var(--primColor);
  min-height: 12vh;
  position: relative;
  color: var(--lightColor);
}
footer p {
  margin: 1em 2em;
  text-align: center;
  font-size: 1.3em;
  position: relative;
  z-index: 1;
}
footer .curve {
  z-index: 0;
}

.contactSection {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 4em;
}
.contactSection .contactForm {
  display: flex;
  flex-flow: row wrap;
}
.contactSection .contactForm h2 {
  color: var(--darkColor);
  font-size: 2em;
}
.contactSection .contactForm .contactInput label {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
}
.contactSection .contactForm .contactInput input,
.contactSection .contactForm .contactInput textarea {
  font-family: var(--textFont);
  font-size: 1em;
  padding: 0.6em;
  width: 100%;
  background: var(--lightColor);
  color: var(--darkColor);
  border: 0.2em solid var(--darkOpacity);
  border-radius: 10px;
  box-shadow: 0.1em 0.1em 0.1em 0 var(--darkOpacity);
  transition: 0.3s ease;
}
.contactSection .contactForm .contactInput input:focus,
.contactSection .contactForm .contactInput textarea:focus {
  background: var(--lightColor);
  border: 0.2em solid var(--primColor);
  border-radius: 10px;
}
.contactSection .contactForm .contactInput input::-moz-placeholder, .contactSection .contactForm .contactInput textarea::-moz-placeholder {
  color: var(--darkColor);
  font-family: var(--textFont);
}
.contactSection .contactForm .contactInput input::placeholder,
.contactSection .contactForm .contactInput textarea::placeholder {
  color: var(--darkColor);
  font-family: var(--textFont);
}
.contactSection .contactForm .contactInput textarea {
  min-height: 100px;
}
.contactSection .contactForm .contactBtn {
  margin-top: 2em;
  font-size: 1.2em;
  padding: 0.2em auto;
  background-color: var(--primOpacity);
  border-color: var(--primColor);
}

.contactMessage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  /*
  .imgBox{
      overflow:visible;
      position: relative;
      max-width: 60%;
      #star{
          top: -5em;
          max-width: 50%;
          left: 0;
          backdrop-filter: dropshadow(20px 20px 20px red);

          stroke-linecap: round;
          stroke-linejoin: round;
      }
  }*/
}
.contactMessage .downloadCv {
  background-color: var(--primOpacity);
  font-size: 1.2em;
  border-color: var(--primColorHover);
}
.contactMessage .downloadCv a {
  color: var(--darkColor);
  padding: 0.3em 1em;
}

.curveBox {
  position: absolute;
  max-width: 100vw;
  width: 100%;
  min-width: 100vw;
  min-height: 2em;
}
.curveBox .curve {
  width: 100%;
  min-width: 100vw;
}
.curveBox.whitePurple, .curveBox.whiteDark {
  top: -3.5em;
}
.curveBox.whitePurple .curve, .curveBox.whiteDark .curve {
  filter: drop-shadow(0px -1.1em 1em var(--lightOpacity));
}
.curveBox.purpleWhite, .curveBox.darkWhite {
  bottom: -3.5em;
}
.curveBox.purpleWhite .curve, .curveBox.darkWhite .curve {
  filter: drop-shadow(0px 1em 0.1em var(--lightColor));
}
@media screen and (max-width: 768px) {
  .curveBox {
    min-height: 0;
    z-index: 0;
  }
  .curveBox img {
    min-height: 2em;
    filter: drop-shadow(0em 0em 0em rgba(255, 255, 255, 0)) !important;
  }
  .curveBox.whitePurple, .curveBox.whiteDark {
    top: -1em;
  }
  .curveBox.darkPurple, .curveBox.darkWhite {
    bottom: -1.3em;
  }
}

.menuBox {
  position: fixed;
  top: 20px;
  font-size: 0.6em;
  right: 20px;
  z-index: 100;
  transform-origin: 100% 0;
  background-color: var(--primColor);
  filter: drop-shadow(5px 5px 10px var(--darkColor));
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  min-width: 4em;
  padding: 0.4em;
  min-height: 4em;
  color: var(--lightColor);
  transition: all 0.5s ease-in-out;
  animation: openBurger 0.6s ease 0s 1 backwards forwards;
}
.menuBox .menu {
  display: none;
  width: 0;
  height: 0;
  list-style: none;
  text-align: end;
  font-size: 2.4em;
}
.menuBox .menu .tab .tabLink {
  position: relative;
  color: var(--lightColor);
  border-radius: 10px;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  margin: 0;
  width: 100%;
}
.menuBox .menu .tab .tabLink:hover {
  transition: all 0.5s ease-in-out;
}
.menuBox .menu .tab .tabLink:hover::before {
  width: 100%;
}
.menuBox .menu .tab .tabLink:hover::after {
  width: 60%;
}
.menuBox .menu .tab .tabLink::before {
  content: attr(link-name);
  color: var(--secColor);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.menuBox .menu .tab .tabLink::after {
  position: absolute;
  content: "";
  background-color: var(--secColor);
  width: 0;
  height: 5px;
  bottom: -5px;
  right: 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menuBox:hover {
  transform: scale(1.1);
  background-color: var(--primColorHover);
}
.menuBox .burgerIcon {
  width: 4.5em;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.menuBox .burgerIcon .burgerLine,
.menuBox .burgerIcon .burgerLine::after,
.menuBox .burgerIcon .burgerLine::before {
  transition: top 0.2s 0.2s, transform 0.2s, background-color 0.4s 0.2s;
  content: "";
  width: 100%;
  border-radius: 25px;
  left: 0;
  transform-origin: 50% 50%;
  height: 0.5em;
  position: absolute;
  transform: rotate(0);
  background-color: var(--lightColor);
}
.menuBox .burgerIcon .burgerLine {
  transition: background-color 0.2s ease, top 0.1s, transform 0.6s 2s;
  top: 50%;
  transform: translateY(-90%);
  margin: 0.5em 0;
}
.menuBox .burgerIcon .burgerLine::before {
  top: 1em;
  transform: translateY(0.2em);
}
.menuBox .burgerIcon .burgerLine::after {
  top: -1em;
  transform: translateY(-0.2em);
}
.menuBox.open {
  padding: 1em;
  right: 0;
  border-radius: 0 0 0 100%;
  top: 0;
  align-items: end;
  min-height: 25em;
  min-width: 25em;
  filter: drop-shadow(20px 20px 10px var(--darkColor)) drop-shadow(-20px 0px 10px var(--darkColor));
}
.menuBox.open .menu {
  margin-right: 0.4em;
  display: block;
  width: 100%;
  height: 100%;
}
.menuBox.open .burgerLine {
  transition: background-color 0.2s ease, top 0.1s, transform 0.6s 2s;
  background-color: initial;
}
.menuBox.open .burgerLine::before {
  top: 0;
  transition: top 0.1s, transform 0.4s 0.2s;
  transform: rotate(-45deg);
}
.menuBox.open .burgerLine::after {
  top: 0;
  transition: top 0.1s, transform 0.4s 0.2s;
  transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  .menuBox {
    background-color: var(--primColor);
    width: 3em;
    height: 2em;
    z-index: 200;
    display: flex;
    place-content: center center;
    padding: 0;
  }
  .menuBox.open {
    right: 0;
    border-radius: 0 0 0 100%;
  }
}

.realizationNav {
  color: var(--lightColor);
  position: relative;
  background: var(--darkColor);
  display: flex;
  text-transform: capitalize;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2em 0;
}
.realizationNav h1 {
  font-size: 2.3em;
  margin: 0 auto;
  text-align: center;
  min-width: 50%;
  width: -moz-min-content;
  width: min-content;
  padding-bottom: 0.4em;
  display: block;
  position: relative;
  position: relative;
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
}
.realizationNav h1::after {
  content: " ";
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  left: 0;
  width: 100%;
  height: 0.2em;
  transition: width 0.5s ease-in-out;
  background-color: var(--lightColor);
}

.specialityBox {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}
.specialityBox .specialityChoice {
  border-bottom: 5px solid var(--secColor);
  margin: auto 0;
  display: flex;
  align-items: center;
  flex-basis: 45%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.specialityBox .specialityChoice:hover {
  transform: scaleX(1.05) translateX(-1.4em);
  text-shadow: 0.1em 0.1em 0 var(--secColor);
}

.realizationSection {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
}
.realizationSection h3 {
  font-size: 1.5em;
  color: var(--primColor);
}
.realizationSection .realization {
  height: 30vh;
  overflow: hidden;
  border-radius: 0 0 25px 25px;
}
.realizationSection .realization .imgBox {
  background-color: var(--darkOpacity);
  max-height: 100%;
  position: relative;
  align-items: start;
  border-radius: inherit;
}
.realizationSection .realization .imgBox .resumeRealization {
  position: absolute;
  top: -30em;
  text-align: center;
  border-radius: inherit;
  font-size: 1.1em;
  z-index: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: var(--primOpacity);
  color: var(--lightColor);
  height: 100%;
  width: 100%;
  padding: 1em 2em;
  transition: top 0.5s ease-in-out;
}
.realizationSection .realization .imgBox .resumeRealization button {
  margin: 1em auto;
  border-color: var(--secColorHover);
  min-width: 40%;
  font-size: 1em;
  background-color: var(--secColor);
}
.realizationSection .realization .imgBox .resumeRealization button:hover {
  background-color: var(--secColorHover);
}
.realizationSection .realization .imgBox:hover .realizationTab {
  filter: drop-shadow(0px 5px 5px var(--darkColor));
}
.realizationSection .realization .imgBox:hover .resumeRealization {
  top: 0;
}
.realizationSection .realization .imgBox img {
  min-width: 100%;
}
@media screen and (max-width: 768px) {
  .realizationSection {
    flex-direction: column;
    gap: 1em 0;
  }
}

.realizationTab {
  background-color: var(--darkColor);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  padding: 0.4em 1em;
}
.realizationTab .realizationTitle {
  color: var(--lightColor);
}
.realizationTab h2 {
  font-size: 1.8em;
}

.realizationModal {
  background-color: var(--lightColor);
  border-radius: 25px;
  font-size: 1.1em;
  height: 90vh;
  min-width: 90vw;
  box-shadow: 20em 5px 20em var(--darkColor), -20em 5px 20em var(--darkColor);
  display: none;
  flex-wrap: wrap;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 250;
  transition: transform 0.5s ease-in-out;
  animation: openRealization 0.6s ease-in-out 0s 1 reverse forwards;
}
.realizationModal.open {
  animation: openRealization 0.6s ease-in-out 0s 1 normal forwards;
  display: flex;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, display 1s ease-in-out;
}
.realizationModal .realizationTab {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.realizationModal .realizationContent {
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  gap: 1em;
  height: 100%;
}
.realizationModal .realizationContent .fullImageContainer {
  padding: 0;
  flex: 1;
}
.realizationModal .realizationContent .fullImageContainer .ytVideo {
  padding: 0;
  margin: 0;
  min-height: 60vh;
  width: auto;
}
.realizationModal .realizationContent .realizationInfo {
  flex: 1;
  margin-top: 1em;
}
.realizationModal .realizationContent .realizationInfo h3 {
  flex-basis: 100%;
  color: var(--darkColor);
  position: relative;
  padding-bottom: 0.3em;
  margin-bottom: 0.2em;
}
.realizationModal .realizationContent .realizationInfo h3::after {
  content: " ";
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  left: 0;
  width: 50%;
  height: 0.2em;
  transition: width 0.5s ease-in-out;
  background-color: var(--primColor);
}
.realizationModal .realizationContent .realizationInfo .galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.realizationModal .realizationContent .realizationInfo .galleryContainer .imgGallery {
  border: 0.4em solid var(--secColor);
  border-radius: 25px;
  max-height: 200px;
}
.realizationModal .realizationContent .realizationInfo .galleryContainer .imgGallery img {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.realizationModal .visitSiteBtn {
  background-color: var(--primOpacity);
  border-color: var(--primColor);
  padding: 0.5em 1em;
  font-size: 1.1em;
  margin: 2em 0;
}
@media screen and (max-width: 768px) {
  .realizationModal {
    min-width: 100vw;
    min-height: 90vh;
    width: -moz-min-content;
    width: min-content;
  }
  .realizationModal .open {
    top: 0vh;
  }
  .realizationModal .realizationContent {
    flex-flow: column nowrap;
    overflow: scroll;
    align-items: center;
  }
  .realizationModal .realizationContent .realizationInfo {
    overflow: hidden;
    padding: 1em;
    height: -moz-min-content;
    height: min-content;
  }
  .realizationModal .realizationContent .galleryContainer .imgGallery {
    min-width: 60%;
    align-items: center;
  }
  .realizationModal .realizationContent .galleryContainer .imgGallery img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.moreBtn {
  border: 0.25em solid var(--primColorHover);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: var(--primColor);
  padding: 0.2em;
}
.moreBtn .moreIcon {
  max-width: 90%;
}
.moreBtn:hover, .moreBtn:active {
  background-color: var(--primColorHover);
}
.moreBtn.close {
  transform: rotateZ(45deg);
}

.skillFilter {
  gap: 0.5em;
  margin-bottom: 2em;
}
.skillFilter .skill {
  font-size: 1em;
}

.skillFilter,
.skillList {
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
}
.skillFilter .skill,
.skillList .skill {
  padding: 0.4em 0.8em;
  color: inherit;
  min-width: 5em;
}

.skillList {
  gap: 0.5em;
}
.skillList .skill {
  font-size: 0.9em;
}

.figma {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}

.illustrator,
.afterEffect {
  border-color: var(--primColor);
  background-color: var(--primOpacity);
}

.scss,
.css,
.bootStrap {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}

.vue,
.alpine,
.unity {
  border-color: var(--darkcolor);
  color: var(--lightColor);
  background-color: var(--darkOpacity);
}