html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: var(--titleFont);
}

p,input,textarea,body{
  font-family: var(--textFont);
}
a,
button {
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
a:hover,button:hover{
    transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--titleFont);
  padding: 0.3em 0.4em;
  text-align: center;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 0.3em;
  border-radius: 50px;
  transform: scale(1);
}
button:hover {
  transform: scale(1.09);
}
svg{
  position: absolute;
}