@import "./grille.css";
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  /*Couleur*/
  --primColor:#681F7A;
  --primColorHover:#8b29a3;
  --primOpacity:rgba(104, 31, 122, 0.4);
  --lightColor:#F6FAF0;
  --darkColor: #332C23;
  --secColor:#ADCF79;
  --secOpacity:rgba(173, 207, 121, 0.4);
  --colorOpactiy:$colorOpacity;
  --secColorHover:#7ca63c;
  --titleFont:"Kodchasan";
  --textFont:"Open Sans","Arial","Helvetica",sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 1.1em;
}

.separationCurve {
  min-width: -moz-min-content;
  min-width: min-content;
  margin: 0;
  padding: 0;
  position: absolute;
  min-height: -moz-min-content;
  min-height: min-content;
  top: -10%;
}

main > section {
  max-width: 90%;
  min-width: 80%;
  margin: 3% auto;
}

.imgBox {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBox > img {
  max-width: 100%;
  height: auto;
}

.backgroundHeader {
  background: no-repeat url("src/assets/ordi.jpeg") center/cover fixed;
  text-align: center;
  padding: 3% auto;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--lightColor);
  font-size: 2em;
  min-width: 100%;
  min-height: 100vh;
  z-index: 0;
}
.backgroundHeader h1 {
  text-shadow: 0.1em 0.01em var(--primColor);
}
.backgroundHeader .arrowScrollBtn {
  width: 6em;
  height: 6em;
  background-color: transparent;
  justify-self: end;
  text-align: center;
  filter: drop-shadow(0.2em 0.2em 0.5em var(--secColor)) drop-shadow(0.2em 0.2em 0.2em var(--secColor));
  animation: ArrowScroll 2s ease-in-out 0.5s infinite both;
  border: none;
}

.aboutSection {
  display: flex;
  background-color: var(--secColor);
  flex-flow: column nowrap;
  gap: 3em;
  padding: 2em 4em;
  margin: 0 auto;
  -webkit-clip-path: polygon(0 -20%, 100% 35%, 100% 100%, 0% 100%);
          clip-path: polygon(0 -20%, 100% 35%, 100% 100%, 0% 100%);
  position: relative;
}
.aboutSection p {
  max-width: 500px;
}

@keyframes ArrowScroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
.menuBox {
  position: fixed;
  background-color: var(--primColor);
  right: 0;
  z-index: 999;
  filter: drop-shadow(5px 5px 10px var(--darkColor));
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  top: 0;
  padding: 0 1em;
  border-radius: 0 0 0 100%;
  min-width: 8%;
  min-height: 14%;
  color: var(--lightColor);
  transition: all 0.5s ease-in-out;
}
.menuBox .menu {
  display: none;
  width: 0;
  height: 0;
  list-style: none;
  text-align: end;
  font-size: 2.4em;
}
.menuBox .menu .tab {
  margin: 0% 2%;
}
.menuBox .menu .tab .tabLink {
  position: relative;
  color: var(--lightColor);
  border-radius: 10px;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  margin: 0;
  width: 100%;
}
.menuBox .menu .tab .tabLink:hover {
  transition: all 0.5s ease-in-out;
}
.menuBox .menu .tab .tabLink:hover::before {
  width: 100%;
}
.menuBox .menu .tab .tabLink:hover::after {
  width: 60%;
}
.menuBox .menu .tab .tabLink::before {
  content: attr(link-name);
  color: var(--secColor);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.menuBox .menu .tab .tabLink::after {
  position: absolute;
  content: "";
  background-color: var(--secColor);
  width: 0;
  height: 5px;
  bottom: -5px;
  right: 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menuBox .burgerIcon {
  color: var(--lightColor);
  width: 5em;
  height: 5em;
  font-size: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.menuBox .burgerIcon .burgerLine, .menuBox .burgerIcon .burgerLine::after, .menuBox .burgerIcon .burgerLine::before {
  transition: top 0.2s 0.2s, transform 0.2s, background-color 0.4s 0.2s;
  display: block;
  content: "";
  width: 100%;
  left: 0;
  border-radius: 1em;
  height: 0.7em;
  position: absolute;
  transform: rotate(0);
  background-color: var(--secColor);
}
.menuBox .burgerIcon .burgerLine {
  transition: background-color 0.2s, top 0.2s, left 0.2s, transform 0.2s 0.15s;
  top: 50%;
  margin: 0.5em 0;
}
.menuBox .burgerIcon .burgerLine::before {
  top: 1em;
}
.menuBox .burgerIcon .burgerLine::after {
  top: -1em;
}
.menuBox.open {
  min-height: 45%;
  min-width: 20%;
}
.menuBox.open .menu {
  display: block;
  width: 100%;
  height: 100%;
}
.menuBox.open .burgerLine {
  transition: background-color 0.2s, top 0.1s, left 0.2s, transform 1s 0.25s;
  background-color: initial;
}
.menuBox.open .burgerLine::before {
  top: 0;
  transform: rotate(-45deg);
}
.menuBox.open .burgerLine::after {
  top: 0;
  transform: rotate(45deg);
}

/*
.menuBox{
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    display: flex;
    color:var(--lightColor);
    margin: 0% auto;
    width: 100%;
    padding: 20px;

}
.logoName{
    text-decoration: none;
    color:var(--primColor)
}
.menu{
    list-style: none;
    display: flex;
    flex-basis: 30%;
    flex-grow: 60%;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 1.2em;
}

.tab{
    margin: 0% 2%;
    .tabLink{
        position: relative;
        color: var(--darkColor);
        border-radius: 10px;

        font-size: 1.2em;
        transition: all 0.5s ease-in-out;
        margin: 0;

        width: 100%;
        &:hover{
            transition: all 0.5s ease-in-out;

            &::before{
                width: 100%;
            }
            &::after{
                width: 50%;
            }
        }
        &::before{
            content:attr(link-name);

            color: var(--primColorHover);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }
        &::after{
            position: absolute;
            content:"";
            background-color: var(--primColor);
            width: 0;
            height: 5px;
            bottom: -5px;
            left: 0;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
        }
    }
}
*/
/*Ligne en dessous du texte*/
.realizationNav {
  position: relative;
  background: var(--primColor);
  display: flex;
  text-transform: capitalize;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.realizationNav h1 {
  font-size: 2.3em;
  flex-basis: 100%;
  text-align: center;
  position: relative;
  color: var(--lightColor);
}
.realizationNav h1::after {
  content: "";
  background-color: var(--secColor);
  height: 10px;
  width: 50px;
  border-radius: 50px 0 50px 0;
  position: absolute;
  top: 50%;
}

.specialityBox {
  display: flex;
  flex-flow: column nowrap;
  font-size: 2em;
}
.specialityBox .specialityChoice {
  border-bottom: 5px solid var(--secColor);
  display: flex;
  align-items: center;
  flex-basis: 45%;
  color: var(--lightColor);
  transition: all 0.5s ease-in-out;
}
.specialityBox .specialityChoice:hover {
  transform: scaleX(1.05) translateX(-50px);
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 4px 1px var(--secColorHover);
  cursor: grab;
}
.specialityBox .specialityChoice a {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.realizationSection {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 0 1.5em;
}
.realizationSection .realization {
  height: 100%;
  border-radius: 0 0 25px 25px;
}
.realizationSection .realization .realizationTab {
  background-color: var(--secColor);
  width: 100%;
  overflow: hidden;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  padding: 0.3em 1em;
}
.realizationSection .realization .realizationTab h3 {
  color: var(--primColor);
  font-size: 1.5em;
  padding: 0;
}
.realizationSection .realization .imgBox {
  position: relative;
  border-radius: inherit;
  background-color: var(--secColor);
}
.realizationSection .realization .imgBox img {
  border-radius: inherit;
}
.realizationSection .realization .imgBox .resumeRealization {
  position: absolute;
  top: 0;
  align-items: center;
  text-align: center;
  border-radius: inherit;
  display: flex;
  flex-flow: column nowrap;
  z-index: 0;
  width: 100%;
  opacity: 0;
  background-color: var(--primOpacity);
  color: var(--lightColor);
  height: 0;
  transition: opacity 0.5s ease-in-out;
}
.realizationSection .realization .imgBox .resumeRealization p {
  margin: 1em;
}
.realizationSection .realization .imgBox .resumeRealization button {
  margin: 1em;
  border-bottom: 0.3em solid var(--secColorHover);
  min-width: 40%;
  background-color: var(--secColor);
  color: var(--darkColor);
  font-size: 1em;
}
.realizationSection .realization .imgBox .resumeRealization button:hover {
  background-color: var(--secColorHover);
}
.realizationSection .realization .imgBox:hover .resumeRealization {
  height: 100%;
  opacity: 100%;
}
.realizationSection .realization .imgBox:hover img {
  filter: blur(10px);
}

.realizationModal {
  background-color: var(--lightColor);
  border: 5px solid red;
  border-radius: 25px;
  font-size: 1.1em;
  height: 100vh;
  min-width: 100%;
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  z-index: 100;
  transition: transform 0.5s ease-in-out;
  animation: openRealization 0.6s ease-in-out 0s 1 reverse forwards;
  filter: drop-shadow(1em 0px 10px var(--primOpacity)), drop-shadow(1em 20px 10px var(--primOpacity));
}
.realizationModal.open {
  opacity: 1;
  animation: openRealization 0.6s ease-in-out 0s 1 normal forwards;
  display: flex;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, display 1s ease-in-out;
}
.realizationModal .imgBox {
  flex-basis: 45%;
}
.realizationModal .imgBox video {
  min-height: 100%;
  height: 100%;
}
.realizationModal .realizationInfo {
  display: flex;
  min-height: 100%;
  flex-basis: 50%;
  flex-flow: column nowrap;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  gap: 10px;
  align-content: center;
}
.galleryContainer h4 {
  flex-basis: 100%;
}
.galleryContainer .imgBox {
  border: 0.2em solid var(--darkColor);
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.moreBtn {
  border: none;
  max-width: 2.5em;
  min-height: 2.5em;
  background-color: var(--primColor);
  color: var(--lightColor);
  padding: 0.2em 0.2em;
}
.moreBtn .moreIcon {
  max-width: 85%;
  transform: rotate(0deg);
}
.moreBtn:hover, .moreBtn:active {
  background-color: var(--primColorHover);
}
.moreBtn.open:active .moreIcon, .moreBtn:hover .moreIcon {
  transform: rotateZ(45deg);
}
.moreBtn.close {
  transform: rotateZ(45deg);
  align-self: flex-end;
}
.moreBtn.close:active .moreIcon, .moreBtn.close:hover .moreIcon {
  transform: rotateZ(-45deg);
}

.filterSkill {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-width: 100%;
  gap: 0.5em;
}
.filterSkill .skill {
  -webkit-mask-clip: content-box;
          mask-clip: content-box;
  font-size: 1em;
  position: relative;
}

.skillFilter, .skillList {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5em 0;
  width: 100%;
  min-width: 100%;
}
.skillFilter h3, .skillFilter p, .skillList h3, .skillList p {
  flex-basis: 100%;
  color: var(--primColor);
}
.skillFilter .skill, .skillList .skill {
  padding: 0.4em 0.8em;
  color: inherit;
  transition: all 0.5s ease-in-out;
}

.skillList {
  gap: 0.5em;
}
.skillList .skill {
  min-width: 5em;
  font-size: 0.9em;
}

.figma {
  border-color: var(--primColor);
  background-color: var(--primOpacity);
}

.illustrator {
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}

.scss, .css {
  border-color: #00A5CF;
  background-color: rgba(0, 165, 207, 0.4);
}

.alpine {
  border-color: #FC7A1E;
  background-color: rgba(252, 122, 30, 0.4);
}

.afterEffect {
  border-color: #FB8F67;
  background-color: rgba(251, 143, 103, 0.4);
}

@keyframes floatingRealization {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes openRealization {
  0% {
    top: 100vh;
    opacity: 0;
    transform: translate(-50%, 0);
  }
  100% {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
svg {
  position: absolute;
  z-index: 0;
}

#blob {
  max-height: 40px;
}